{% extends "layout.html" %}
{% block body %}
  <br/>
  <dl>
    <dd>
      adicione um novo contato
  </dl>
  <br/>      
  <form name="contato_form" action="/salva_contato" method="post" >
    <table border="1">
      <tbody>
	<tr>
	  <td>nome</td>
	  <td><input type="text" maxlength="250" name="contato_nome" /></td>
	</tr>	
	<tr>
	  <td>email</td>
	  <td><input type="text" maxlength="50" name="contato_email" /></td>
	</tr>
	<tr>
	  <td>whatsApp</td>
	  <td><input type="text" maxlength="12" name="contato_whatsapp" /></td>
	</tr>	
	<tr>      
	  <td>facebook</td>	  
	  <td><input type="text" maxlength="50" name="contato_facebook" /></td>
	</tr>     
	<tr>
	  <td>twitter</td>	  
	  <td><input type="text" maxlength="50" name="contato_twitter" /></td>
	</tr>    
	<tr>
	  <td>website</td>	  
	  <td><input type="text" maxlength="50" name="contato_website" /></td>
	</tr>      
	<tr>
	  <td>endereco</td>	  
	  <td><input type="text" maxlength="250" name="contato_endereco" /></td>
	</tr>      
	<tr>
	  <td>bairro</td>	  
	  <td><input type="text" maxlength="50" name="contato_bairro" /></td>
	</tr>     
	<tr>
	  <td>cidade</td>	  
	  <td><input type="text" maxlength="50" name="contato_cidade" /></td>
	</tr>     
	<tr>
	  <td>estado</td>	        
	  <td><input type="text" maxlength="50" name="contato_estado" /></td>
	</tr>
      </tbody>
    </table>      
    <br/>
    <input type="submit" name="adicionar_novo_contato" value="adicionar novo contato" />
    <input type="submit" name="voltar_index" value="cancelar" />
    <input type="hidden" name="voltar_index" value="" />
    <input type="hidden" name="id" value="" />    
   </form>
{% endblock %}
