<html>
    <body>
    <p>blog</p>
        <div>
            <a href="{{ url_for('admin.index') }}">acesse o admin!</a>
        </div>
        <div>
            <p>lista de posts</p>
            {% for posts in posts_links %}
            <ul>
                <li>titulo to post: {{ posts.titulo_post|upper }}</li>
                <li>{{ posts.data_post|strftime }}</li>
                <li><a href="/exibe_posts/{{ posts.permalink_post }}">acesso ao post completo</a> </li>
                <li>{{ posts.login }}</li>
            </ul>
            {% endfor %}
        <div>
    </body>
</html>
  