{% extends "layout.html" %}
{% block body %}
  <br/>     
 
  <table border="1">
    <thead>
        <th> nome </th>
        <th> miligramas  </th>
        <th> quantidade-comprimidos  </th>
        <th> desconto-gestantes  </th>
        <th> preco  </th>
        <th> farmacia-popular  </th>
        <th> desconto-aposentados  </th>
        <th> generico  </th>
    </thread>
    <tbody>
{% for remedio in medicamentos.medicamento %}
      <tr>
	<td> {{ remedio['nome'] }} </td>
	<td> {{ remedio['miligramas'] }}  </td>
	<td> {{ remedio['quantidade-comprimidos'] }}  </td>
	<td> {{ remedio['desconto-gestantes'] }}  </td>
	<td>R$ {{ remedio['preco'] }}  </td>
	<td> {{ remedio['farmacia-popular'] }}  </td>
	<td> {{ remedio['desconto-aposentados'] }}  </td>
	<td> {{ remedio['generico'] }}  </td>
      </tr>
{% endfor %}
    </tbody>
  </table>      
   
{% endblock %}
