{% extends "layout.html" %}
{% block body %}

<!--     <form action="#" method="get" class="add-entry" > -->
      <br/>
      <dl>
        <dd>
        <a href="/identificacao_do_eleitor">
         <button>
	  Escolha já seu candidato à presidência do brasil
         </button>
        </a>
      </dl>
      <br/>      
      <dl>
        <dd>
        <a href="/relatorio_votacao">
         <button>
	  Relatório de votação
         </button>
        </a>        
      </dl>
      <br/> 
<!--     </form> -->
    
{% endblock %}
