{% extends "layout.html" %}
{% block body %}

    <form action="/menu_senha" method="post" class="add-entry" >
      <dl>
        <dd><span>senha do paciente:</span>
        <dd><span>{{ ultima_senha.id }}</span>
      </dl>    
      <br/>
      <dl>
        <dd><input type="submit" name="gera_proxima_senha" value="Gera Proxima Senha Normal" />
        <dd><input type="submit" name="gera_proxima_senha_prioridade" value="Gera Proxima Senha Prioridade" />
        <dd><input type="submit" name="atende_proximo_paciente" value="Atende Proximo Paciente" />        
      </dl>
      <br/>      
      <table border="1">
	<thead>
	  <th>Pacientes Atendidos</th>
	  <th>Pacientes Aguardando Atendimento</th>
	  <th>Pacientes de Prioridade Aguardando Atendimento</th>
	</thread>
	<tbody>
	  <tr>
	    <td>{{ ver_relatorio.pacientes_atendidos }}</td>
	    <td>{{ ver_relatorio.pacientes_aguardando_atendimento }}</td>
	    <td>{{ ver_relatorio.pacientes_prioridade_aguardando_atendimento }}</td>
	  </tr>
	</tbody>
     </table>      
    </form>
    
{% endblock %}
