{% extends "layout.html" %}
{% block body %}
  <br/>
  <dl>
    <dd>
      <a href="/novo_contato">
	<button>
	  adicionar novo contato
	</button>
      </a>
  </dl>
  <br/>      
  <table border="1">
    <thead>
      <th>nome</th>
      <th>email</th>
      <th>whatsApp</th>
      <th>facebook</th>	  
      <th>twitter</th>	  
      <th>website</th>	  
      <th>endereco</th>	  
      <th>bairro</th>	  
      <th>cidade</th>	  
      <th>estado</th>	  
      <th>edita contato</th>
      <th>deleta contato</th>      
    </thread>
    <tbody>
    {% for contato in contatos %}
      <tr>
	<td>{{ contato.nome }}</td>
	<td>{{ contato.email }}</td>
	<td>{{ contato.whatsapp }}</td>
	<td>{{ contato.facebook }}</td>
	<td>{{ contato.twitter }}</td>
	<td>{{ contato.website }}</td>
	<td>{{ contato.endereco }}</td>
	<td>{{ contato.bairro }}</td>
	<td>{{ contato.cidade }}</td>
	<td>{{ contato.estado }}</td>
	<td><a href="/editar_contato?id={{ contato.id }}">editar</a></td>
	<td><a href="/deletar_contato?id={{ contato.id }}">deletar</a></td>
      </tr>
     {% endfor %} 
    </tbody>
  </table>      
   
{% endblock %}
