backports.ssl-match-hostname==3.4.0.2
blivet==1.0.9
chardet==2.2.1
coverage==4.0a5
decorator==3.4.0
di==0.3
dnf-langpacks==0.9.1
gps==3.11
gyp==0.1
iniparse==0.4
initial-setup==0.3.31
IPy==0.81
kitchen==1.2.1
langtable==0.0.31
liveusb-creator==3.13.3
mercurial==3.3.3
ntplib==0.3.2
policycoreutils-default-encoding==0.1
pwquality==1.2.4
py==1.4.30
pycurl==7.19.5.1
pygobject==3.16.1
pygpgme==0.3
PyIscsi==1.0
pykickstart==1.99.66
pyliblzma==0.5.3
pyparted==3.10.3
pytest==2.6.4
python-augeas==0.5.0
python-dmidecode==3.10.13
python-meh==0.38
pytz===2012d
pyudev==0.16.1
pyxattr==0.5.3
requests==2.6.2
rpm-python==4.12.0.1
seobject==0.1
sepolicy==1.1
six==1.9.0
slip==0.6.1
slip.dbus==0.6.1
SSSDConfig==1.12.4
urlgrabber==3.10.1
urllib3==1.10.2
vboxapi==1.0
virtualenv==12.0.7